/* import statements */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import "tailwindcss";

@theme {
  --product-name-font-size: 16px;
  --dark-red: hsl(14, 65%, 9%);
  --light-red: hsl(12, 20%, 44%);
  --cart-red: hsl(14, 86%, 42%);
  --product-category-color: grey;
  --overlay-black: rgba(0, 0, 0, 0.4);
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: hsl(13, 31%, 94%);
  line-height: 1.7;
}

/* "bg-white p-3 rounded-full border border-[var(--product-category-color)] w-40 absolute bottom-25 right-6 hover:bg-[var(--cart-red)] hover:text-white duration-300" */
