/* import statements */
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");
@import "tailwindcss";

@theme {
  --product-name-font-size: 16px;
  --dark-red: hsl(14, 65%, 9%);
  --light-red: hsl(12, 20%, 44%);
  --cart-red: hsl(14, 86%, 42%);
  --product-category-color: grey;
  --overlay-black: rgba(0, 0, 0, 0.7);
  --checkout-color: hsl(13, 31%, 94%);
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: #f4edeb;
  line-height: 1.7;
}
